html
    include ./include/header.pug
    h2 Ingrese Producto
    form(action="/productos" method="POST")
        Nombre: input(type="text" name="name")
        Precio: input(type="text" name="price")
        Thumbnail: input(type="text" name="thumbnail")
        input(type="submit" value="Guardar")
        a(href="productos") Ver Productos

