{{> header }}

<h2>Ingrese Producto</h2>
    <form action="/productos" method="POST">
        Nombre:<input type="text" name="name"/><br>
        Precio:<input type="text" name="price"/><br>
        Thumbnail:<input type="text" name="thumbnail"/><br>
        <input type="submit" value="Guardar">
        <a href="productos">Ver Productos</a>
    </form>